@keyframes rev-bar-anim {
  from { height: calc(100% - var(--start)); };
  to { height: calc(100% - var(--end)); };
}

@keyframes bar-anim {
  from { height: var(--start); };
  to { height: var(--end); };
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.graph-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.graph-scales {
  display: flex;
  height: 400px;
  width: 250px;
  flex-direction: row;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: center; 
  background-color: whitesmoke;
}

.scale {
  display: flex;
  flex-direction: column;
  margin: 22px 22px 0px 22px;
}

.bar {
  height: 70%;
  width: 40px;
  --start: 0%;
  --end: 70%;
  flex-direction: column;
  background-color: white;
  animation: rev-bar-anim 1s linear 1s;
}

.bar1 {
  height: 30%;
  width: 40px;
  --start: 0%;
  --end: 30%;
  flex-direction: column;
  background-color: #cac6c0;
  animation: bar-anim 1s linear 1s;
}

.bar2 {
  height: 60%;
  width: 40px;
  --start: 0%;
  --end: 60%;
  flex-direction: column;
  background-color: white;
  animation: rev-bar-anim 1s linear 1s;
}

.bar3 {
  height: 40%;
  width: 40px;
  --start: 0%;
  --end: 40%;
  flex-direction: column;
  background-color: #cac6c0;
  animation: bar-anim 1s linear 1s;
}

.bar4 {
  height: 20%;
  width: 40px;
  --start: 0%;
  --end: 20%;
  flex-direction: column;
  background-color: white;
  animation: rev-bar-anim 1s linear 1s;
}

.bar5 {
  height: 80%;
  width: 40px;
  --start: 0%;
  --end: 80%;
  flex-direction: column;
  background-color: #cac6c0;
  animation: bar-anim 1s linear 1s;
}
